:root {
  --bg-color: #292929;
  --bg-offer: #1a1a1a;
  --white: #ffffff;
  --biege:#f7b496;
  --pink:#ed366e;
  --blue:#12129d;
  --grey: #e3e3e3;
  --red: #ff3469;
  --red-span: #ff1844;
  --red-link: #f24841;
  --red-btn: #ff2e55;
  --red-btn-hover:#ff1844;
  --red-box-shadow: rgba(242, 72, 65, 0.39);
  --border-color: #4c4c4c;
  --swiper-navigation-size: 18px;
  --swiper-theme-color: #ff2e55;
}


/* 
.bg-content {
  background-color: var(--bg-color);
}
*/